.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
   
  }
  
  .addlist,
  .editlist,
  .viewlist {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    flex-direction: column;
  }
  
  .text {
    text-align: center;
  }
  
  .buttonspad {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    padding: 7px;
    border-radius: 5px;
    color: azure;
  }
  
  .modal-content {
    background-color: #329e4d;
    margin: 10% auto;
    padding: 20px;
    border: 3px solid rgb(240, 238, 238);
    width: 50%;
    height: 50%;
    color: white;
  }
  
  .close {
    color: #090000;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(203, 7, 7);
    text-decoration: none;
    cursor: pointer;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(241, 233, 220);
  }
  
  th,
  td {
    border: 1px solid #f3f1f1; 
    padding: 8px;
    text-align: center;
  }
  
  th {
    padding: 15px;
    border: 1px solid #f0ecec; 
    background-color: white; 
  }
  
  .addbutton {
    margin:0 0 0 90%;
    padding: 10px;
    background-color: blue;
    border-radius: 50px;
    color: azure;
  }
  
  .view {
    background-color: orange;
  }
  
  .edit {
    background-color:green;
  }
  
  .delete {
    background-color: red;
  }
  
  .heading {
    color: white;
    background-color: black;
    padding: 10px;
  }
  
  .headings {
    text-align: center;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Set your desired background color */
  }
  
  tbody tr:nth-child(even) {
    background-color: #ffffff; /* Set your desired background color */
  }
  
  .editlists {
    width: 250px;
    height: 50px;
  }
  
  .buttonsize {
    padding: 40px;
  }
  